<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head (pageTitle='Home')"></head>
    <body>
        <header th:replace="fragments/layout :: header"></header>
        <div th:replace="fragments/layout :: search-bar"></div>

        <div class="gifs container">
            <div class="row">
                <div class="col s12 l4">
                    <a>
                        <img th:src="@{/gif/cowboy-coder.gif}" />
                        <a href="#" class="mark favorite"></a>
                    </a>
                </div>
                <div class="col s12 l4">
                    <a>
                        <img th:src="@{/gif/ben-and-mike.gif}" />
                        <a href="#" class="mark favorite"></a>
                    </a>
                </div>
                <div class="col s12 l4">
                    <a>
                        <img th:src="@{/gif/compiler-bot.gif}" />
                        <a href="#" class="mark favorite"></a>
                    </a>
                </div>
            </div>
        </div>

        <div th:replace="fragments/layout :: js_scripts"></div>
    </body>
</html>